KITE_API_KEY=replace_me
KITE_API_SECRET=replace_me
GEMINI_API_KEY=replace_me
LIVE_MODE=false
ENABLE_SL_ORDER=true
AUTO_EOD_EXIT=true
EOD_EXIT_TIME=15:20
INSTRUMENT=NIFTY
TOTAL_CAPITAL=500000
RISK_PER_TRADE_PCT=1.0
LOT_SIZE=50
MAX_LOTS=5
